<header>
    <nav>
        <div id="brand">
            <!-- <strong>FOODBAZAAR</strong> -->
            <a href="">
                <!-- <img src="https://img.icons8.com/material-rounded/50/FFFFFF/home.png" /> -->
                <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/FFFFFF/external-location-map-location-flatart-icons-outline-flatarticons-13.png"/>
            </a>
        </div>
        <div id="menu">
            <ul>
                <a href="">
                    <li>
                        <i class="fas fa-utensils"></i>
                        Restaurants
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fas fa-search"></i>
                        Search
                        
                    </li>
                </a>
                <a href="">
                    <li>
                        <i class="fas fa-user-circle"></i>
                        Account
                    </li>
                </a>
                <a href="/selectvendor">
                    <li>
                        <i class="fas fa-shopping-cart"></i>
                        Checkout
                    </li>
                </a>
            </ul>
        </div>
    </nav>
</header>