<header>
    <nav>
        <div id="brand">
            <!-- <strong>FOODBAZAAR</strong> -->
            <a href="/" id="brand-home">
                <img src="imgs/foodbazaar.png" alt="Foodbazaar" srcset="">
            </a>
        </div>
        <div id="menu">
            <ul>
                <a href="#">
                    <li>
                        <i class="fas fa-utensils"></i>
                        Home
                    </li>
                </a>
                <a href="#">
                    <li>
                        <i class="fas fa-search"></i>
                        About
                    </li>
                </a>
                <a href="#">
                    <li>
                        <i class="fas fa-user-circle"></i>
                        Contact
                    </li>
                </a>
                <a href="/login">
                    <li>
                        <i class="fas fa-shopping-cart"></i>
                        Login
                    </li>
                </a>
            </ul>
        </div>
    </nav>
</header>