<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header')%>
        <title>Select Delivery Vendor</title>
</head>

<body>
    <!-- include navbar -->
    <%- include('partials/navbar')%>
        <main>
            <h2>Please choose a delivery vendor</h2>
            <div class="vendor">
                <div class="vendor-name">
                    <a href="/checkout/?vendor=swiggy">
                        <div class="vender-name-text">
                            Swiggy
                            <img src="https://img.icons8.com/doodle/100/000000/swiggy.png" />
                        </div>
                    </a>
                    <div class="open-details">
                        <!-- <i class="fas fa-angle-double-down"></i> -->
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="vendor-details">
                    <div class="detail-input">
                        <i class="fas fa-clock"></i>
                        60 - 75 minutes
                    </div>
                    <div class="detail-input">
                        <i class="fas fa-rupee-sign" id="total"></i>
                        <!-- insert total amount here -->
                        INR 123123
                    </div>
                    <div class="detail-input">
                        <i class="fas fa-ticket-alt"></i>
                        2 Coupons available
                    </div>
                </div>
            </div>
            <div class="vendor">
                <div class="vendor-name">
                    <a href="/checkout/?vendor=zomato">
                        <div class="vender-name-text">
                            Zomato
                            <img src="https://img.icons8.com/doodle/100/000000/zomato.png" />
                        </div>
                    </a>
                    <div class="open-details">
                        <!-- <i class="fas fa-angle-double-down"></i> -->
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="vendor-details">
                    <div class="detail-input">
                        <i class="fas fa-clock"></i>
                        35 minutes
                    </div>
                    <div class="detail-input">
                        <i class="fas fa-rupee-sign" id="total"></i>
                        <!-- insert total amount here -->
                        INR 123123
                    </div>
                    <div class="detail-input">
                        <i class="fas fa-ticket-alt"></i>
                        1 Coupons available
                    </div>
                </div>
            </div>
            <div class="vendor">
                <div class="vendor-name">
                    <a href="/checkout/?vendor=ubereats">
                        <div class=" vender-name-text">
                            Uber Eats
                            <img src="https://img.icons8.com/color/100/000000/uber-eats-app.png" />
                        </div>
                    </a>
                    <div class="open-details">
                        <!-- <i class="fas fa-angle-double-down"></i> -->
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="vendor-details">
                    <div class="detail-input">
                        <i class="fas fa-clock"></i>
                        100 - 110 minutes
                    </div>
                    <div class="detail-input">
                        <i class="fas fa-rupee-sign" id="total"></i>
                        <!-- insert total amount here -->
                        INR 123123
                    </div>
                    <div class="detail-input">
                        <i class="fas fa-ticket-alt"></i>
                        No Coupons available
                    </div>
                </div>
            </div>
        </main>
        <%- include('partials/footer')%>
</body>

</html>