<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header')%>
        <title>Select Delivery Vendor</title>
</head>

<body>
    <!-- include navbar -->
    <%- include('partials/navbar')%>
        <main>
            <h2>Please choose a delivery vendor</h2>
            <div class="vendor">
                <div class="vendor-name">
                    <a href="">
                        <div class="vender-name-text">
                            Swiggy
                            <img src="https://img.icons8.com/doodle/100/000000/swiggy.png" />
                        </div>
                    </a>
                    <div class="open-details">
                        <!-- <i class="fas fa-angle-double-down"></i> -->
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="vendor-details">

                </div>
            </div>
            <div class="vendor">
                <div class="vendor-name">
                    <a href="">
                        <div class="vender-name-text">
                            Zomato
                            <img src="https://img.icons8.com/doodle/100/000000/zomato.png" />
                        </div>
                    </a>
                    <div class="open-details">
                        <!-- <i class="fas fa-angle-double-down"></i> -->
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="vendor-details">

                </div>
            </div>
            <div class="vendor">
                <div class="vendor-name">
                    <a href="">
                        <div class=" vender-name-text">
                            Uber Eats
                            <img src="https://img.icons8.com/color/100/000000/uber-eats-app.png" />
                        </div>
                    </a>
                    <div class="open-details">
                        <!-- <i class="fas fa-angle-double-down"></i> -->
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="vendor-details">

                </div>
            </div>
        </main>
        <%- include('partials/footer')%>
</body>

</html>