*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin:0;
}
a{
    text-decoration:none;
}
/* font-family: 'Fira Code', monospace; */
/* NAVBAR */
nav{
    display: flex;
    align-items: center;
    padding:1.2em;
    background-color: orange;
}
/* Home page logo */
#brand-home>img{
    width:8em;
}
/*  */
#brand{
    width:20%;
    text-align: center;
}
#brand img{
    transition:all 0.5s;
}
#brand img:hover{
    background-color:orangered;
    border-radius: 50%;
    padding:0.2em;
}
#menu-page{
    min-height: 70vh;
}
#menu{
    width:80%;
    font-size:1.3em;
    font-weight: 600;
}
ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding:1em;
}
nav a{
    padding:0.5em 1em;
    border-radius: 1em;
    min-width: 7em;
    text-align: center;
    color:white;
    transition:all 1s;
}
nav a:hover{
    /* transform: translateY(-0.3em); */
    font-size: 1.1em;
    text-decoration: underline;
}
/* Vendors */
main{
    margin:2em;
    padding:1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vendor{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2em;
}
.vendor a{
    color:inherit;
    width: 100%;
    transition:all 1s;
}
.vendor a:hover{
    color:rgb(121, 182, 31)
}
.vendor-name{
    padding:1em;
    padding-bottom:0;
    border:2px black solid;
    border-radius: 1em;
    min-width:35vw;
    min-height:20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #F1F1F1;
    box-shadow: 0 0.5em 1em 0.1em #00000055;
    z-index: 1;
}
.vendor-name i{
    font-size:2.5em;
    cursor: pointer;
}
.vender-name-text{
    font-family: 'Rampart One', cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: 10vh;
    font-size: 4em;
    font-weight: bold;
}
.vender-name-text img{
    margin-top:0.2em
    /* background-color: red; */
}
.vendor-details{
    z-index: 0;
    display: none;
    border:1px black solid;
    border-radius: 0 0 1em 1em;
    border-top:none;
    min-width:30vw;
    min-height:20vh;
    box-shadow: 0 0.5em 1em 0.1em #00000055;
    background: #F1F1F1;
    padding:2em;
}
.detail-input{
    display: flex;
    margin-bottom:1em;
    font-size:1.2em;
    justify-content: flex-start;
}
#total{
    margin-right: 2.3em;
}
.detail-input i{
    margin-right: 2em;
}
.detail-input:last-child{
    margin-bottom:0;
}
.open-details{
    margin-top:2em;
}
.open-details i:hover{
    color:orangered
}
/* Footer */
footer{
    position: relative;
    bottom:0;
    width: 100%;
    min-height: 10vh;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Login page */
#login-page{
    min-height: 70vh;
}
.login{
    width:25vw;
    display: flex;
    flex-direction: column;
}
.login .input{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
}
.login input{
    padding:1em;
    border-radius: 1em;
    margin:1em 0;
}
.login button{
    padding:1em;
    background-color: rgb(63, 218, 218);
    border-radius: 1em;
}
.login button:hover{
    background-color: rgb(81, 248, 248);
}
/* RESTAURANTS PAGE */
.search_bar {
    text-align: center;
    padding: 20px;
}
.search_bar input{
    width: 30vw;
    text-align: center;
    background-color: bisque;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1.3em;
}
.restaurants{
    min-height: 100vh;
    margin:2em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.restaurants img {
    width: 10em;
    height:auto;
    border-radius: 1em;
    object-fit: contain;
  }
.restaurant_card {
    min-width: 25em;
    border: black 2px solid;
    border-radius: 1.5em;
    display: flex;
    flex-direction: column;
    margin:1em;
}
.restaurants .name {
    background-color: #FF3737;
    color: white;
    font-size: 1.3em;
    padding:0.5em;
    display: flex;
    justify-content: center;
    border-radius: inherit;
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;
    
}
.restaurant_card>div{
    display: flex;
    padding: 1em;
}
.card-right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.card-left>div{
    display: flex;
    justify-content: space-between;
}
.card-left .logo{
    font-size:1.6em;
    width:20%;
    text-align: center;
}
.card-left .text{
    font-size:1em;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}
.restaurants a {
    text-decoration: none;
    color: white;
}
/* Final Checkout Page */
#checkout{
    min-height: 80vh;
}
#final-receipt{
    margin-top:2em;
    width:60%;
    min-height: 30vh;
    border: 1px black solid;
    border-radius: 1em;
    padding:1em;
    display: flex;
    flex-direction: column;
}
#final-receipt button{
    font-size:inherit;
    padding:0.5em;
    border-radius:0.5em;
    margin-left:2em;
    color:white;
    border:none;
}
#final-receipt button:active{
    transform: translateY(0.2em);
}
#receipe-head{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding:0.5em;
    color:white;
    background-color: orangered;
}
table{
    width: 80%;
    text-align: center;
    margin:0 auto;
}
thead{
    font-weight: bold;
}
thead td{
    border-bottom: 1px black solid;
    padding:1em;
}
tbody tr:last-child{
    font-weight: bold;
}
#apply-coupon{
    margin:2em;
    padding:1em;
    text-align: center;
    border-top:1px rgba(128, 128, 128, 0.4) solid;
}
#apply-coupon input{
    font-size: 1em;
    margin-top:1em;
    padding:0.5em;
    outline: none;
    border-radius: 1em;
}
#apply-coupon button{
    background-color:#FF3737;
}
#apply-coupon button:hover{
    box-shadow: 0 0 0.8em 0.1em orangered;
}
#make-payment{
    text-align: center;
}
#make-payment button{
    margin:0;
    background-color: rgb(0, 248, 0);
}
#make-payment button:hover{
    box-shadow: 0 0 0.8em 0.1em rgba(0, 248, 0, 0.658);
}
#empty-cart{
    margin:auto;
    display: flex;
    align-items: center;
    font-size:1.5em;
}
#empty-cart i{
    color:cadetblue;
    font-size:2em;
    margin-left:1em;
}